[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flwr = "*"
grpcio = "*"
grpcio-tools = "*"
numpy = "<2.0"
torchaudio = "*"
torch = "*"
torchvision = "*"
segmentation-models-pytorch = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
